<!--begin::App Content Header-->
<div class="app-content-header">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Dashboard</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <!--begin::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 1-->
        <div class="small-box text-bg-info position-relative overflow-hidden">
          <div class="inner">
            <h3>1</h3>
            <p>Configuración</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="bi bi-gear"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 1-->
      </div>
      <!--end::Col-->
      <!--end::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-success position-relative overflow-hidden">
          <div class="inner">
            <h3>4</h3>
            <p>Profesores</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="fas fa-laptop"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 2-->
      </div>
      <!--end::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-warning position-relative overflow-hidden">
          <div class="inner">
            <h3>4</h3>
            <p>Clientes</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="fas fa-users mr-2"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 2-->
      </div>
      <!--end::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 2-->
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-danger position-relative overflow-hidden">
          <div class="inner">
            <h3>3</h3>
            <p>Cursos</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 2-->
        <!--end::Small Box Widget 2-->
      </div>

    </div>
    <!--end::Row-->
    <div class="row">
      <!--end::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-primary position-relative overflow-hidden">
          <div class="inner">
            <h3>4</h3>
            <p>Profesores</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="bi-person-lines-fill"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 2-->
      </div>
      <!--end::Col-->
      <!--end::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-secondary position-relative overflow-hidden">
          <div class="inner">
            <h3>7</h3>
            <p>Horarios</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="bi-calendar2-week"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 2-->
      </div>
      <!--end::Col-->
      <!--end::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-info position-relative overflow-hidden">
          <div class="inner">
            <h3>3</h3>
            <p>Vehiculos</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="bi bi-car-front"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 2-->
      </div>
      <!--end::Col-->
      <!--end::Col-->
      <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-success position-relative overflow-hidden">
          <div class="inner">
            <h3>4</h3>
            <p>Profesores</p>
          </div>

          <!-- Icono grande de fondo -->
          <div class="icon">
            <i class="bi bi-check-circle"></i>
          </div>

          <!-- Link con efecto hover -->
          <a class="small-box-footer">
            Más info <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
        <!--end::Small Box Widget 2-->
      </div>
      <!--end::Col-->
    </div>
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Subvenciones</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="filtroForm">
          <div class="row mb-3">
            <div class="col-md-2">
              <label for="mes">Mes:</label>
              <select formControlName="mes" class="form-control">
                <option *ngFor="let m of meses" [value]="m.id">
                  {{ m.nombre }}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="anio">Año:</label>
              <input type="number" formControlName="anio" class="form-control" min="2000" max="2100">
            </div>
          </div>
        </form>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Regíon</th>
              <th>Provincia</th>
              <th>Distrito</th>
              <th>Colegio</th>
              <th>Comité</th>
              <th>Monto</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->